*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    color: #b9dfb4;
    flex-grow: 2;
    padding-left: 1em;
  }
  body{
    background-color: #140808;
    color: #eeffeb;
    margin:auto;
    font-family: Arial, Helvetica, fantasy, sans-serif;
    font-size: 17px;
    padding: 0;
}
h3{
    text-align: center;
    margin:0;
    font-size: 22px;
}
.english{
  font-size: 26px;
}
h2{
    text-align: center;
    margin:0;
    font-size: 30px;
}
h1{
    text-align: center;
    margin:0;
    padding: 10px;
    font-size: 50px;
    font-weight: 400;
}
.menu,
.submenu {
  list-style-type: none;
}
nav {
    background: #341111;
    padding: 0 15px;
    position: relative;
    align-content: center;
    align-items: flex-end;
  }
  a {
    color: #dfb4b4;
    text-decoration: none;
  }
.item {
  padding: 10px;
  border-bottom: 1px dotted rgb(119, 84, 90);
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #dfb4b4;
  background-color: #140606;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
  min-width: 80px
}
.menu li.subitem a {
  padding: 15px;
  /* border-bottom: 1px dotted rgb(121, 74, 81); */
}
.toggle {
  order: 1;
  font-size: 17px;
}
.item.button {
  order: 2;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item {
  order: 3;
  width: 100%;
  text-align: right;
  display: none;
}
.item:last-child {
  border-bottom: none;
}
.active .item {
  display: block;
}
.show {display:block;}
.hidden {display:none;}
.button.secondary {
  /* divider between buttons and menu links */
}
.topdrop {
    text-align: right;
    color: #ffd5d5;
  }
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
  width: 100%;
}
.has-submenu {
  cursor: pointer;
}
.has-submenu > a::after {
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "▼";
  padding-left: 5px;
}
.submenu-active {
  z-index: 4;
}
.answers{
    display: flex;
    width: 100vw;
    height: 100vw;
    border: solid 1px #774b4b;
    margin:auto;
    margin-top: 1em;
    flex-wrap: wrap;
    align-content: stretch;
    min-width: 300px;
    min-height: 300px;
}
.answer:hover{
    background-color: #140808;
}
.answer{    
    background-color: #471616;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: solid 1px #723e3e;
    border-top: none;
    font-size: 1em;
    width:33.333333333333%;
    height:33.333333333333%;
    overflow: hidden;
    border-inline-start: none;
    cursor: pointer;
    padding: 10px;
}
.butt:hover {
background-color: #250d0d;
}
.answers img {
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    margin: auto;
    margin-top: 0;
}
.secret-message{
  width: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  margin-top: 2em;
  color: #cfb4df;
}
.sentenceFlashcards{
  display: flex;
  flex-direction: column;
  padding: .4em;
  margin-top: .5em;
  padding-top: 1em;
  width: 100%;
  font-size: 24px;
  text-align: center;
  background-color: #571818;
  border-radius: 2px;
  line-height: 1.4em;
}
.sentenceFlashcards:nth-child(3n+3){
  background-color: #250d0d;
}
.sentenceFlashcards:nth-child(3n+2){
  background-color: #3a1313;
}
.wordFlashcards{
  display: flex;
  flex-direction: column;
  padding: .4em;
  margin: .24em;
  border-radius: 2px;
  padding-top: .5em;
  width: 100%;
  font-size: 24px;
  text-align: center;
  background-color: #421616;
  line-height: 1.4em;
}
.wordFlashcards:nth-child(3n+2){
  background-color: #250d0d;
}
.wordFlashcards:nth-child(3n+3){
  background-color: #571818;
}
.alphaFlashcards{
  display: flex;
  flex-direction: column;
  border-radius: 2px;
    padding: .5em;
    margin: .24em;
    padding-top: 1em;
    width: 155px;
    font-size: 24px;
    text-align: center;
    background-color: #2e1010;
    line-height: 1.4em;
  }
.flashBox {
    margin-top: .5em;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.butt {
    background-color: #341111;
    color: #d5ffea;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    /* width: 160px; */
    text-align: center;
    border-radius: 5px;
}
.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.swap {
  margin: auto;
  width: 150px;
  text-align: center;
  margin-top: 2rem;

}
.skip {
  margin: auto;
  width: 150px;
  text-align: center;
  margin-top: 2rem;
  position: relative;
  right: 0;
}

.faded {
    opacity: 15%;
  }
.semifaded {
    opacity: 55%;
}
.large{
    font-size: 42px;
}
.med{
    font-size: 32px;
}
.nopacity {
  opacity: 0;
}
.small {
    font-size: 16px;
}
/* desktop styling */
 
@media all and (min-width: 960px) {
    body {
      max-width: 1200px;
      padding: 1rem;
    }
    #quiz-practice {
        padding:2rem;
    }
    .menu {
      align-items: center;
      flex-wrap: nowrap;
      background: none;
    }
  .logo {
    order: 0;
  }
  .wordFlashcards{
    width: 550px;
    margin: auto;
    margin-top: .5em;
  }
  .sentenceFlashcards{
    max-width: 750px;
    margin: auto;
    margin-top: .5em;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    border: none;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #341111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
  .answers{
    width: 600px;
    height: 600px;
    border: none;
    border-left: 1px solid #7b5353;
}

#quiz-practice {
    height: auto;
}
.answer{
  font-size: 1.3em;
}
.large{
    font-size: 50px;
}
.skip,
.swap {
  position:relative;
}
.med{
  font-size: 35px;
}
}